<!-- eslint-disable @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
<section (click)="cancel()">
  <div class="modal" (click)="$event.stopImmediatePropagation()">
    <header>
      <h1>Add new todo list</h1>
      <button title="Cancel" class="bx bx-plus" (click)="cancel()"></button>
    </header>
    <form #newListForm="ngForm">
      <label>
        List name:
        <input name="listName" [(ngModel)]="listName" required />
      </label>
      <button
        title="Create"
        type="submit"
        class="bx bx-plus"
        [disabled]="!newListForm.valid"
        (click)="createNewList($event)"
        (keyup.enter)="createNewList($event)"></button>
    </form>
  </div>
</section>
