html,
body {
  height: 100%;
  margin: 0;
}

button {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 0.25rem;
  border: 1px solid #a9a9a9;
  background-color: #e5e4e2;

  &:hover {
    cursor: pointer;
    background-color: #f3f0f0;
    box-shadow: 0 0 3px 0 #888;
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:disabled {
    pointer-events: none;
  }

  &.delete {
    background-color: rgba(199, 145, 145, 0.6);
    border-color: rgba(245, 51, 51, 0.6);
    color: rgba(245, 51, 51, 0.9);

    &:hover {
      background-color: rgba(196, 160, 160, 0.6);
      border-color: rgba(245, 51, 51, 0.9);
      color: rgba(245, 51, 51, 0.9);
    }
  }
}
